<div class="container">
  <h1 class="card-header bg-info row">
    {{ title }}
  </h1>

  <div class="row">
    <div class="col-md-9 col-sm-auto card">
      <clicks-conversions-pie-chart></clicks-conversions-pie-chart>
      <app-conversion-chart></app-conversion-chart>
    </div>
    <div class="col-md-3 col-sm-auto card">
      <br />
      <cost-per-click-card></cost-per-click-card>
      <total-cost-card></total-cost-card>
    </div>
  </div>

  <div class="row card">
    <sum-all-data-chart></sum-all-data-chart>
  </div>
</div>
